{% load static %}        
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
            <!-- Main Menu -->
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> 
                            <span>
                                <img alt="image" class="img-circle" src="{% if user.profile.picture %} {{ user.profile.picture.url }} {% else %} {% static 'images/nouser.png' %}{% endif %}" width="150">
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> 
                                    <span class="text-muted text-xs block">{{user.last_name}} <b class="caret"></b></span> 
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>

                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li> 
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li>
                        <a href="/xmlyoon/" target="admin"><i class="fa fa-diamond"></i> <span class="nav-label">ADMIN</span></a> 
                    </li>
                    <li>
                        <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">LOGIN/SIGNUP</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="{% url 'login' %}">LOGIN</a></li>
                            <li><a href="{% url 'signup' %}">SIGNUP</a></li>
                            <li><a href="{% url 'authentication:add_picture' %}">PICTURE</a></li> 

                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'records:person_list' %}"><i class="fa fa-diamond"></i> <span class="nav-label">좋은 분 목록</span></a> 
                    </li>
                    <li>
                        <a href="{% url 'records:add_news' %}"><i class="fa fa-diamond"></i> <span class="nav-label">사람 등록 프로세스</span></a> 
                    </li>
                    <li>
                        <a href="{% url 'records:check_person' %}"><i class="fa fa-diamond"></i> <span class="nav-label">사람/사건/증거</span></a> 
                    </li>
                    <li>
                        <a href="{% url 'records:person_list' %}"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">사건 목록</span></a> 
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="graph_flot.html">Flot Charts</a></li>
                            <li><a href="graph_morris.html">Morris.js Charts</a></li>
                            <li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
                            <li><a href="graph_chartjs.html">Chart.js</a></li>
                            <li><a href="graph_chartist.html">Chartist</a></li>
                            <li><a href="c3.html">c3 charts</a></li>
                            <li><a href="graph_peity.html">Peity Charts</a></li>
                            <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Second Level Item</a></li>
                            <li>
                                <a href="#">Second Level Item</a></li>
                            <li>
                                <a href="#">Second Level Item</a></li>
                        </ul>
                    </li>

                    <li class="landing_link">
                        <a data-toggle="modal" href="#etiquetteBox"><i class="fa fa-database"></i> <span class="nav-label">사이트 이용시 주의사항</span></a>
                    </li>
                    <li class="landing_link">
                        <a href="javascript:void(0);" onclick="viewAboutUS();"><i class="fa fa-database"></i> <span class="nav-label">About us</span></a>
                    </li>
                </ul>
            </div>
        </nav>