<div class="ibox float-e-margins">
    <div class="ibox-content mailbox-content">
        <div class="file-manager">
            <h5>Following</h5>
            <ul class="folder-list m-b-md" style="padding: 0">
        {% for obj in following %}  
                <li><a href="{% if type == 'P' %}{% url 'records:person_detail' obj.id %}{% else %}{% url 'records:event_detail' obj.id %}{% endif %}"> <i class="fa fa-inbox "></i> {{obj.name}} <span class="label label-warning pull-right"> {{obj.following.count}} </span> </a></li>
        {% endfor %}
            </ul>

            <h5 class="tag-title">Tags</h5>
            <ul class="tag-list" style="padding: 0">
        {% for tag, count in popular_tags %}
                <li><a href="{% url 'records:tag' tag type %}"><i class="fa fa-tag"></i> {{ count }} {{ tag }}</a></li> 
        {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>