<div class="ibox float-e-margins">
    <div class="ibox-content mailbox-content">
        <div class="file-manager">
            <h5>Folders</h5>
            <ul class="folder-list m-b-md" style="padding: 0">
                <li><a href="mailbox.html"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right">16</span> </a></li>
                <li><a href="mailbox.html"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                <li><a href="mailbox.html"> <i class="fa fa-certificate"></i> Important</a></li>
                <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a></li>
                <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i> Trash</a></li>
            </ul>

            <h5 class="tag-title">Tags</h5>
            <ul class="tag-list" style="padding: 0">
        {% for tag, count in popular_tags %}
                <li><a href="{% url 'records:tag' tag type %}"><i class="fa fa-tag"></i> {{ count }} {{ tag }}</a></li> 
        {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>