<ul class="nav navbar-top-links navbar-right">
    <li>
        <span class="m-r-sm text-muted welcome-message">  "I Remember Your Past." 에 오신 것을 환영합니다. </span>
    </li>
    
{% if user.is_authenticated %}
    <li class="dropdown" id="noti">
        <a class="dropdown-toggle count-info" data-toggle="popover" id="notifications">
            <i class="fa fa-bell"></i>
                <span class="label label-warning noti_count"> <span class="count">0</span></span>
        </a>
        <ul class="dropdown-menu dropdown-messages noti-content">
        </ul>
    </li>
    <li>
        <a href="{% url 'logout' %}">
            <i class="fa fa-sign-out"></i> Log out
        </a>
    </li>
{% else %}
    <li>
        <a href="{% url 'login' %}"> 
            <i class="fa fa-sign-in"></i>로그인 
        </a>
    </li>
{% endif %}
</ul>