{% extends 'base.html' %}
{% load static %}

{% block header-index %}
    <h2> 사람과 해당 사람의 사건 그리고 증거를 기억합시다.</h2>

    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            사람 / 사건 / 증거의 기록 
        </li>
        <li class="active">
            <strong>세번째 단계 : 뉴스 기사 등록 </strong>
        </li>
    </ol>
{% endblock header-index %}


{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
        {# Check Person #}

            <div class='col-md-12'>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> 등록하고자 하는 뉴스의 URL 정보를 입력</h5>
                    </div>

                    <div class="ibox-content">
                        {# FORM START #}
                        <form method="POST" action="{% url 'records:check_evidence' personevent.id %}" class="form-horizontal">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name='url' class="form-control"> 
                                    <span class="input-group-btn"> 
                                        <button type="submit" class="btn btn-primary">Check!
                                        </button> 
                                    </span>
                            </div>
                        </form>
                    </div> <!-- ibox-content -->

                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class='col-md-4'>
                <h3>등록하고자 하는 사람</h3>
                {% include 'records/partial/person_info.html' with person=personevent.person %}
            </div>

            <div class='col-md-8'>
                <h3>등록하자고 하는 이벤트 </h3>
                {% include 'records/partial/event_info.html' with event=personevent.event %}
            </div>
        </div>
    </div>

    
{% endblock content %}


{% block javascript %}
<link href="{% static 'css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
<style>
   input[type="checkbox"]{
     zoom: 1.5;
   }
</style>
{% endblock javascript %}
