{% extends 'base.html' %}
{% load static %}

{% block header-index %}
    {% include 'title.html' %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            사람 / 사건 / 증거의 기록 
        </li>
        <li class="active">
            <strong>첫번째 단계 : 사등록 </strong>
        </li>
    </ol>
{% endblock header-index %}


{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
        {# Check Person #}

            <div class='col-md-12'>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> 등록하고자 하는 사건이되어 있는지 등록 여부 확인</h5>
                    </div>
                    <div class="ibox-content">
                        {# FORM START #}
                        
                        <form method="POST" action="{% url 'records:check_person' %}" class="form-horizontal">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name='person' class="form-control"> 
                                    <span class="input-group-btn"> 
                                        <button type="submit" class="btn btn-primary">Check!
                                        </button> 
                                    </span>
                            </div>
                        </form>
                    
                    </div> <!-- ibox-content -->
                </div>
            </div>

            <div class='col-md-12'>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>사람 / 사건/ 뉴스 정보 등록 절차 설명</h5>
                    </div>
                    <div class="ibox-content">
                      <ul style="padding: 10px">  
                        <li> 반드시 근거가 있는 것을 근거로 합니다. 즉 근거는 인터넷에 있는 객관적 자료을 기반으로 한다는 것입니다.</li>
                        <li> 등록 절차는 다음과 같습니다.</li>
                        <li> 첫번째 단계, 해당 사람이 이미 등록이 되었는지 체크를 합니다.</li>
                        <li> 두번째 단계, 해당 사건이 이미 등록이 되었는지 체크를 하시기 바랍니다.</li>
                        <li> 세번째 단계, 해당 기사가 이미 등록이 되었는지 체크를 하시기 바랍니다.</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


{% block javascript %}
<script>
    $(function(){

        $('.form-group label').addClass('col-sm-2');
        $('.form-group input, .form-group textarea').addClass('form-control');

        $('.btn-url').click(function(){
            $('body').addClass('wait');
        });
    });
</script>
{% endblock javascript %}


