{% extends 'base.html' %}
{% load static %}

{% block header-index %}
    {% include 'title.html' %}

    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            사람 / 사건 / 증거의 기록 
        </li>
        <li class="active">
            <strong>두번째 단계 : 사건등록 </strong>
        </li>
    </ol>
{% endblock header-index %}


{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
        {# Check Person #}

            <div class='col-md-12'>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5> 등록하고자 하는 사건이되어 있는지 등록 여부 확인</h5>
                    </div>

                    <div class="ibox-content">
                        {# FORM START #}
                        <form method="POST" action="{% url 'records:check_event' person.id %}" class="form-horizontal">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" name='event' class="form-control"> 
                                    <span class="input-group-btn"> 
                                        <button type="submit" class="btn btn-primary">Check!
                                        </button> 
                                    </span>
                            </div>
                        </form>
                    </div> <!-- ibox-content -->

                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class='col-md-4'>
                등록하고자 하는 사람
                {% include 'records/partial/person_info.html' %}
            </div>
            <div class='col-md-8'>
                
            </div>
        </div>
    </div>

{% endblock content %}


{% block right_side %}
    {% include 'right_side.html' with type='P' %}
{% endblock right_side %}

