{% extends "base.html" %}
{% load static %}


{% block header-index %}
    <h2>기억을 통해 실수를 반복하지 맙시다.</h2>
{% if user.is_authenticated %}
    <a href="{% url 'records:check_person' %}"> 
            <button type='button' class='btn btn-primary pull-right'>사람/시건/뉴스 등록</button>
    </a>
{% endif %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            <a>Event</a>
        </li>
        <li class="active">
            <strong>Detail</strong>
        </li>
    </ol>
{% endblock header-index %}


{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
    
            {# Event Infomation #}
            <div class="col-md-4">
                {% include 'records/partial/event_info.html' %}
            </div>

            {# Person Evidence #}
            <div class="col-md-8">
            
                <div class="ibox float-e-margins">
                    {# Event Title  #}
                    <div class="ibox-title">
                        <h4> <strong>{{ event.name }}</strong> 관련된 사람들 </h4>
                        
                    </div>

                    <div class="ibox-content">
                    {# Person Evidence List  #}
                    {% for personevent in event.personevent_set.all %}
                    {# New Content  #}
                        {% include 'records/partial/event_persons.html' %}
                    {% endfor %}
                    </div>
                
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
<script type='text/javascript'>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    $(".btnEventLike").click(function(){

        $.ajax({
            url : "{% url 'records:ajax_event_like' event.id %}", 
            type: "POST",
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType : 'json',
            success: function(data){
                if(data.status) {

                    $('.btnEventLike').html(data.like == 'like' ? '<i class="fa fa-thumbs-up"></i>Like<span class="count"> <span class="total">  </span> 명</span>':'<i class="fa fa-thumbs-down"></i>UnLike<span class="count"> <span class="total"> </span> 명</span>');
                    $('span.count .total').text(data.total_likes);를
                    alert(data.message);
                }
            }
        });
    });

    $("a.following").click(function(e){
        e.preventDefault();

        $.ajax({
            url : "{% url 'records:ajax_event_following' event.id %}", 
            type: "POST",
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType : 'json',
            success: function(data){
                if(data.status) {

                    $('a.following').html(data.follow);
                    $('span.count .following').text(data.total_following);
                }
            }
        });
    });
</script>
{% endblock javascript %}
