{% extends "base.html" %}
{% load static %}


{% block header-index %}
    {% include 'title.html' %}
{% if user.is_authenticated %}
    <a href="{% url 'records:add_event_news' event.id %}"> 
            <button type='button' class='btn btn-primary pull-right'>사건에 관련된 뉴스 등록</button>
    </a>
{% endif %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            <a>Event</a>
        </li>
        <li class="active">
            <strong>Detail</strong>
        </li>
    </ol>
{% endblock header-index %}


{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
    
            {# Event Infomation #}
            <div class="col-md-4">
                {% include 'records/partial/event_info.html' %}
            </div>

            {# Person Evidence #}
            <div class="col-md-8">
                
                {# 관련된 뉴스 #}
                <div class="ibox float-e-margins">
                    {# Event Title  #}
                    <div class="ibox-title">
                        <h4> <strong>{{ event.name }}</strong> 관련 뉴스 </h4>
                        
                    </div>
                    <div class="ibox-content news_list">
                    {# Person Evidence List  #}
                    {% for news in event.get_news %}
                    {# New Content  #}
                        {% include 'records/partial/event_news.html' %}
                    {% endfor %}
                    </div>
                
                </div>
            
                {# 관련된 사람들 #}
                <div class="ibox float-e-margins">
                    {# Event Title  #}
                    <div class="ibox-title">
                        <h4> <strong>{{ event.name }}</strong> 관련된 사람들 </h4>
                        
                    </div>

                    <div class="ibox-content">
                    {# Person Evidence List  #}
                    {% for person in event.person_list %}
                    {# New Content  #}
                        {% include 'records/partial/event_persons.html' with person=person %}
                    {% endfor %}
                    </div>
                
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block right_side %}
    {% include 'right_side.html' with type='E' %}
{% endblock right_side %}

{% block javascript %}
<script type='text/javascript'>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    $(".btnEventLike").click(function(){
        $.ajax({
            url : "{% url 'records:ajax_event_like' event.id %}", 
            type: "POST",
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType : 'json',
            success: function(data){
                if(data.status) {
                    $('.btnEventLike').html(data.like == 'like' ? '<i class="fa fa-heart-o"></i><span class="count">(<span class="likes">  </span>)</span>':'<i class="fa fa-heart"></i><span class="count">(<span class="likes"></span>)</span>');
                    $('span.count .likes').text(data.total_likes);
                }
            }
        });
    });

    $("button.btnEventFollowing").click(function(e){
        e.preventDefault();
        $.ajax({
            url : "{% url 'records:ajax_event_following' event.id %}", 
            type: "POST",
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType : 'json',
            success: function(data){
                if(data.status) {
                    $('.btnEventFollowing').html(data.follow == 'following' ? 'Follow<span class="count">(<span class="follow">  </span>)</span>':'<i class="fa fa-thumbs-up"></i>following<span class="count">(<span class="follow"> </span>)</span>');
                    $('span.count .follow').text(data.total_following);
                    alert(data.message);
                }
            }
        });
    });

//********************************************
// 뉴스에 Comment 달기
//********************************************
    // .comment 버턴을 누르면 하단에 커멘트가 리스트로 나옴
    $("div.news_list").on("click", ".comment", function(){

        var news = $(this).closest(".social-feed-box");

        if ($(".comment_list", news).hasClass("tracking")) {
            $(".comment_list", news).slideUp();
            $(".comment_list", news).removeClass("tracking");

        } else {
            $(".comment_list", news).show();
            $(".comment_list", news).addClass("tracking");
            $(".comment_list input[name='content']", news).focus();

            var news_id = $(news).attr('news-id');
            // var news_id = 12;
            $.ajax({
                url: "{% url 'comments:en_comment' %}", 
                data: {'news': news_id, 'event': {{event.id}} },
                cache: false,
                beforeSend: function(){
                    $("div.comment_list", news).html("<img src='/static/images/loading.gif'");
                },
                success: function(data){
                    $("div.comment_list", news).html(data);
                    // $(".comment-count", news).text($(".commentCount", news).length)
                },
            });
            return false;
        }
    });
   
    // .comment 입력하고 Enter 키를 누르면 Comment가 입력이 됨
    $("div.news_list").on("keydown", ".comment_list textarea[name='content']", function(evt){

        var keyCode = evt.which?evt.which:evt.keyCode;
        var news = $(this).closest(".social-feed-box");

        if (keyCode == 13) {
            var form = $(this).closest("form");
            var container = $(this).closest(".comment_list")
            var input = $(this);

            $.ajax({
                url: "{% url 'comments:en_comment' %}", 
                data: $(form).serialize(),
                type: "POST",
                cache: false,
                beforeSend: function(){
                    $(input).val("");
                },
                success: function(data){
                    $("div.comment_list", news).html(data);
                    var evid_container = $(container).closest(".social-feed-box");
                    $(".comment-count", evid_container).text($(".commentCount", container).length);
                },
            });
            return false;
        } 
    });

    // 삭제 답글
    $("div.news_list").on("click", ".btn_delete", function(){

        var comment_id = $(this).attr('data-url');
        var news = $(this).closest(".social-feed-box");
        var news_id = $(news).attr('news-id');
        // var news_id = 12;
        $.ajax({
            url: "{% url 'comments:en_comment_delete' %}", 
            data: {'comment': comment_id, 'event': {{event.id}}, 'news': news_id },
            cache: false,
            beforeSend: function(){
                $("div.comment_list", news).html("<img src='/static/images/loading.gif'");
            },
            success: function(data){
                $("div.comment_list", news).html(data);
                $(".comment-count", news).text($(".commentCount", news).length)
            },
        });
        return false;
    });
</script>
{% endblock javascript %}
