{% extends "base.html" %}
{% load static %}

{% block header-index %}
    {% include 'title.html' %}
    {% if user.is_authenticated %}
        <a href="{% url 'records:check_person' %}"> 
            <button type='button' class='btn btn-primary pull-right'>사람/시건/뉴스 등록</button>
        </a>
    {% endif %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            좋은 분 
        </li>
        <li class="active">
            <strong>사람 </strong>
        </li>    
    </ol>
{% endblock header-index %}


{% block content %}
    
    <div id="person-container">

    {% include 'records/partial/partial_person_list.html' %}

    </div> {# class="infinite-container" #}


    <div class="col-md-12" id="loading" style="display:none;">
        <div class="row animated fadeInRight" >
            <img src="{% static "images/loading.gif" %}" alt=""> 
            <input id="page" type="hidden" value="{{ person_list.next_page_number }}">
        </div>
    </div>

    {% if person_list.has_next %}
        <div class="col-md-12" id='pagination'>
            <div class="row animated fadeInRight">
                <button class="btn btn-primary btn-rounded btn-block nextPage"> 
                    <i class="fa fa-info-circle"></i> MORE
                </button>
            </div>
        </div>
    {% endif %}

{% endblock content %}

{% block right_side %}
    {% include 'right_side.html' with type='P' %}
{% endblock right_side %}


{% block javascript %}

<script type="text/javascript">
    $(document).ready(function() {
        // Each time the user scrolls
        var scrollHeight = $(window).scrollTop() + $(window).height() + 100;
        var documentHeight = $(document).height();
        
        if (scrollHeight >= documentHeight){
            callMorePerson();
        }

        $(".nextPage").click(function(){
            callMorePerson();
        })

        function callMorePerson(){
            $('#loading').show();
            var page = $("#page").val();
            $.ajax( {
                url: "{% url 'records:ajax_person_list' %}",
                data: {
                    'page': page,
                },
                success: function(data){
                    $("#person-container").append(data);
                    $('#loading').hide();
                },
                dataType: 'html'
            });
            $("#page").val(parseInt(page)+1);
        }
    });


// var infinite = new Waypoint.Infinite({
//     element: $(".infinite-container")[0],
//     onBeforePageLoad: function() {
//         $('#loading').show();
//     },
//     onAfterPageLoad: function($items) {
//         $('#loading').hide();
//     },
// });
</script>
{% endblock javascript %}