{% extends "base.html" %}
{% load i18n static %}

{% block header-index %}
    <h2>기억을 통해 실수를 반복하지 맙시다.</h2>
    <a href="{% url 'records:check_person' %}"> 
            <button type='button' class='btn btn-primary pull-right'>사람/시건/뉴스 등록</button>
    </a>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            <a>인물</a>
        </li>
        <li class="active">
            <strong>인물상세정보</strong>
        </li>
    </ol>
{% endblock header-index %}


{% block content %}

{% with person=person  %}
    
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
    
            {# 001. 사람 정보 #}
            <div class="col-md-4">
                {% include 'records/partial/person_info.html' %}
            </div>

            {# 002. 이벤트 검색 결과 #}
            <div class="col-md-8">
            {# Person Evidence List  #}
            {% for personevent in person.personevent_set.all %}

                <div class="ibox">
                    {# EVENT INFO  #}
                    <div class="ibox-title">
                        <h5>{{ personevent.event }}</h5>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{% url 'records:event_detail' personevent.event.id %}">사건 상세 내용</a></li> 
                                <li><a href="#">Following</a></li>
                            </ul>
                        </div>
                    </div>

                    {# EVIDENCE INFO #}
                    <div class="ibox evidence_list">
                    {% for evidence in personevent.evidence_set.all %}
                        {% include 'records/partial/evidence_info.html' with comments=evidence.comments.all %}
                    {% endfor %} 
                        {# 추가 증거 Button #}
                        <div class="feed-element">
                            <a class="btn btn-default btn-rounded btn-block" href="{% url 'records:check_evidence' personevent.id %}"> 
                                <i class="fa fa-plus"></i> 
                                    추가 증거 등록
                            </a>
                        </div>
                    </div> <!-- ibox-content -->
                    
                    {# 새로운 사건에 등록 Button #}
                    <div class="ibox-content">
                        <div class="feed-activity-list">
                            <div class="feed-element">
                                <a class="btn btn-info btn-rounded btn-block" href="{% url 'records:check_event' person.id %}">
                                    <i class="fa fa-bell-o"></i> 
                                        해당 인물을 다른 사건에 등록 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            {% empty %} {# for personevent in person.personevent_set.all #}

                <div class="feed-element">
                   <div class="media-body ">
                        <a class="btn btn-info btn-rounded btn-block" href="{% url 'records:check_event' person.id %}">
                            <i class="fa fa-plus"></i> 
                              해당 인물을 다른 사건에 등록 
                        </a>
                    </div>
                </div>

            {% endfor %} {# for personevent in person.personevent_set.all #}
 
            </div> {# class="col-md-8" #}
        </div> {# class="row animated fadeInRight" #}
    </div>
{% endwith %}
{% endblock content %}


{% block right_side %}
    {% include 'right_side.html' with type='P' %}
{% endblock right_side %}


{% block javascript %}
<script type='text/javascript'>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    $("button.btnPersonLike").click(function(){
        $.ajax({
            url : "{% url 'records:ajax_person_like' person.id %}", 
            type: "POST",
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType : 'json',
            success: function(data){
                if(data.status) {
                    $('button.btnPersonLike').html(data.like == 'like' ? '<i class="fa fa-thumbs-up"></i>Like<span class="count"> <span class="total">  </span> 명</span>':'<i class="fa fa-thumbs-down"></i>UnLike<span class="count"> <span class="total"> </span> 명</span>');
                    $('span.count .total').text(data.total_likes);
                }
            }
        });
    });

    $("a.following").click(function(e){
        e.preventDefault();
        $.ajax({
            url : "{% url 'records:ajax_person_following' person.id %}", 
            type: "POST",
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType : 'json',
            success: function(data){
                if(data.status) {
                    $('a.following').html(data.follow);
                    $('span.count .following').text(data.total_following);
                    alert(data.message);
                }
            }
        });
    });

    // .comment 버턴을 누르면 하단에 커멘트가 리스트로 나옴
    $("div.evidence_list").on("click", ".comment", function(){

        var evidence = $(this).closest(".social-feed-box");
        var test = $(".comment-count", evidence);
        var count = $(".commentCount", evidence).length;

        if ($(".comment_list", evidence).hasClass("tracking")) {
            $(".comment_list", evidence).slideUp();
            $(".comment_list", evidence).removeClass("tracking");

        } else {
            $(".comment_list", evidence).show();
            $(".comment_list", evidence).addClass("tracking");
            $(".comment_list input[name='content']", evidence).focus();

            var evidence_id = $(evidence).attr('evidence-id');
            // var evidence_id = 12;
            $.ajax({
                url: "{% url 'comments:comment' %}", 
                data: {'evidence_id': evidence_id },
                cache: false,
                beforeSend: function(){
                    $("div.comment_list", evidence).html("<img src='/static/images/loading.gif'");
                },
                success: function(data){
                    $("div.comment_list", evidence).html(data);
                    // $(".comment-count", evidence).text($(".commentCount", evidence).length)
                },
            });
            return false;
        }
    });

    // .comment 입력하고 Enter 키를 누르면 Comment가 입력이 됨
    $("div.evidence_list").on("keydown", ".comment_list textarea[name='content']", function(evt){

        var keyCode = evt.which?evt.which:evt.keyCode;
        var evidence = $(this).closest(".social-feed-box");

        if (keyCode == 13) {
            var form = $(this).closest("form");
            var container = $(this).closest(".comment_list")
            var input = $(this);

            $.ajax({
                url: "{% url 'comments:comment' %}", 
                data: $(form).serialize(),
                type: "POST",
                cache: false,
                beforeSend: function(){
                    $(input).val("");
                },
                success: function(data){
                    $("div.comment_list", evidence).html(data);
                    var evid_container = $(container).closest(".social-feed-box");
                    $(".comment-count", evid_container).text($(".commentCount", container).length);
                },
            });
            return false;
        } 
    });

    // $("button.btnComment").on("click", function(){
    //     var form = $(this);
    //     $.ajax({
    //         url : form.attr("action"), 
    //         type: form.attr("method"),
    //         data: form.serialize(),
    //         success: function(data){
    //             $("#commentAdd").append(data.html);
    //         }
    //     });
    // });
</script>
{% endblock javascript %}
