{% extends "base.html" %}
{% load i18n static %}

{% block header-index %}
    <h2>기억을 통해 실수를 반복하지 맙시다.</h2>
    <a href="{% url 'records:check_person' %}"> 
            <button type='button' class='btn btn-primary pull-right'>사람/시건/뉴스 등록</button>
    </a>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            <a>인물</a>
        </li>
        <li class="active">
            <strong>인물상세정보</strong>
        </li>
    </ol>
{% endblock header-index %}


{% block content %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
    
            {# 001. 사람 정보 #}
            <div class="col-md-5">
                {% include 'records/partial/person_info.html' %}
            </div>

            {# 002. 이벤트 검색 결과 #}
            <div class="col-md-7">
            {# Person Evidence List  #}
            {% for personevent in person.personevent_set.all %}

                <div class="ibox">
                    {# EVENT INFO  #}
                    <div class="ibox-title">
                        <h5>{{ personevent.event }}</h5>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="{% url 'records:event_detail' personevent.event.id %}">사건 상세 내용</a></li> 
                                <li><a href="#">Following</a></li>
                            </ul>
                        </div>
                    </div> <!-- ibox-title -->

                    {# EVIDENCE INFO #}
                    <div class="ibox evidence_list">
                    {% for evidence in personevent.evidence_set.all %}
                        {% include 'records/partial/evidence_info.html' with detail=True %}
                    {% empty %}
                        {% if forloop.last and user.is_authenticated %}
                            <div class="social-footer">
                                <a class="btn btn-default btn-rounded btn-block" href="{% url 'records:check_evidence' personevent.id %}"> 
                                    <i class="fa fa-plus"></i> 
                                        추가 증거 등록
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %} 
                    </div> <!-- ibox evidence_list -->
                    
                </div>

            
            {% endfor %} {# for personevent in person.personevent_set.all #}
            
            {% if user.is_authenticated %}
                {# 새로운 사건에 등록 Button #}
                <div class="ibox-content">
                    <div class="feed-activity-list">
                        <div class="feed-element">
                            <a class="btn btn-info btn-rounded btn-block" href="{% url 'records:check_event' person.id %}">
                                <i class="fa fa-bell-o"></i> 
                                    해당 인물을 다른 사건에 등록 
                            </a>
                        </div>
                    </div>
                </div> 
            {% endif %}

            </div> {# class="col-md-8" #}
        </div> {# class="row animated fadeInRight" #}
    </div>

    <!-- MODAL TO EVIDENCE ADD PERSON -->
    <div class="modal fade" id="modal-addperson">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="POST" id="id_form_addperson"> 
                <!-- HEADER -->    
                    <div class="modal-header">
                        <button class="close" type='button' data-dismiss='modal' aria-label='Close'>
                            <span aria-hidden='true'>&times;</span>
                        </button>
                        <h4 class="modal-title"> 사건 관련자 등록 </h4>
                    </div>

                    <!-- BODY -->
                    <div class="modal-body">
                    
                        {% csrf_token %}
                        <!-- EVIDENCE ADD PERSON -->
                        <div class="row">
                            <div class='center'>
                                <p class="text-success"> 관련자를 반복해서 입력할 수 있습니다. </p>
                            </div>
                        </div>
                        <div class="row"> <!-- ADD PERSON -->
                            <div class="col-xs-4 search">
                                <input type="text" class="form-control" id="id_person" style="width:200px">
                                <div class="results" id="person_results">
                                  
                                </div>
                            </div>
                            <div class="col-xs-4 made-input">
                                <div class="col-xs-4" id="persons_name">
                                    
                                </div>
                                <div class="col-xs-2" id="persons_id">
                                    
                                </div>
                            </div>
                        </div>
                        <div style="display:block;width:100%;height:100px;"></div>
                    
                    </div>

                    <!-- FOOTER -->
                    <div class="modal-footer">
                        <button type='button' class="btn btn-default" data-dismiss='modal'>Cancel</button>
                        <button type='submit' class="btn btn-primary btn-addperson">Add Person</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
{% endblock content %}


{% block right_side %}
    {% include 'right_side.html' with type='P' %}
{% endblock right_side %}


{% block javascript %}
<link href="{% static 'css/persons.css' %}" rel="stylesheet">

<script type='text/javascript'>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

//********************************************
// Person Like & Following
//********************************************
    $("button.btnPersonLike").click(function(){
        $.ajax({
            url : "{% url 'records:ajax_person_like' person.id %}", 
            type: "POST",
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType : 'json',
            success: function(data){
                if(data.status) {
                    $('button.btnPersonLike').html(data.like == 'like' ? '<i class="fa fa-thumbs-up"></i>Like<span class="count">(<span class="likes">  </span>)</span>':'<i class="fa fa-thumbs-down"></i>UnLike<span class="count">(<span class="likes"> </span>)</span>');
                    $('span.count .likes').text(data.total_likes);
                }
            }
        });
    });

    $("button.btnPersonFollowing").click(function(){
        $.ajax({
            url : "{% url 'records:ajax_person_following' person.id %}", 
            type: "POST",
            data: {'csrfmiddlewaretoken': csrftoken},
            dataType : 'json',
            success: function(data){
                if(data.status) {
                    $('button.btnPersonFollowing').html(data.follow == 'following' ? '<i class="fa fa-thumbs-up"></i>Follow<span class="count">(<span class="follow">  </span>)</span>':'<i class="fa fa-thumbs-down"></i>UnFollow<span class="count">(<span class="follow"> </span>)</span>');
                    $('span.count .follow').text(data.total_following);
                    alert(data.message);
                }
            }
        });
    });

//********************************************
// 뉴스에 Comment 달기
//********************************************
    // .comment 버턴을 누르면 하단에 커멘트가 리스트로 나옴
    $("div.evidence_list").on("click", ".comment", function(){

        var evidence = $(this).closest(".social-feed-box");

        if ($(".comment_list", evidence).hasClass("tracking")) {
            $(".comment_list", evidence).slideUp();
            $(".comment_list", evidence).removeClass("tracking");

        } else {
            $(".comment_list", evidence).show();
            $(".comment_list", evidence).addClass("tracking");
            $(".comment_list input[name='content']", evidence).focus();

            var evidence_id = $(evidence).attr('evidence-id');
            // var evidence_id = 12;
            $.ajax({
                url: "{% url 'comments:comment' %}", 
                data: {'evidence_id': evidence_id },
                cache: false,
                beforeSend: function(){
                    $("div.comment_list", evidence).html("<img src='/static/images/loading.gif'");
                },
                success: function(data){
                    $("div.comment_list", evidence).html(data);
                    // $(".comment-count", evidence).text($(".commentCount", evidence).length)
                },
            });
            return false;
        }
    });

    // .comment 입력하고 Enter 키를 누르면 Comment가 입력이 됨
    $("div.evidence_list").on("keydown", ".comment_list textarea[name='content']", function(evt){

        var keyCode = evt.which?evt.which:evt.keyCode;
        var evidence = $(this).closest(".social-feed-box");

        if (keyCode == 13) {
            var form = $(this).closest("form");
            var container = $(this).closest(".comment_list")
            var input = $(this);

            $.ajax({
                url: "{% url 'comments:comment' %}", 
                data: $(form).serialize(),
                type: "POST",
                cache: false,
                beforeSend: function(){
                    $(input).val("");
                },
                success: function(data){
                    $("div.comment_list", evidence).html(data);
                    var evid_container = $(container).closest(".social-feed-box");
                    $(".comment-count", evid_container).text($(".commentCount", container).length);
                },
            });
            return false;
        } 
    });

//********************************************
// Nickname 관
//********************************************
    // NickName Like
    $("ul.nickname_list").on("click", ".btnNickLike", function(){

        var nickname = $(this).closest(".nickname");
        var nickname_id = $(nickname).attr('data-id');
        // var evidence_id = 12;
        $.ajax({
            url: "{% url 'nickname:add_like_nick' %}", 
            data: {'nickname_id': nickname_id },
            cache: false,
            success: function(data){
                if( data.is_valid ) {
                    $("span.font-bold .likes", nickname).text(data.total_likes);
                } else {
                    alert(data.messages);
                }
            },
        });
        return false;
    });

    // NickName Hates ==> DisLike
    $("ul.nickname_list").on("click", ".btnNickHates", function(){

        var nickname = $(this).closest(".nickname");
        var nickname_id = $(nickname).attr('data-id');
        // var evidence_id = 12;
        $.ajax({
            url: "{% url 'nickname:add_hate_nick' %}", 
            data: {'nickname_id': nickname_id },
            cache: false,
            success: function(data){
                if( data.is_valid ) {
                    $("span.font-bold .hates", nickname).text(data.total_hates);
                } else {
                    alert(data.messages);
                }
            },
        });
        return false;
    });

    $("#id_nickname").keyup(function(){
        var search = $(this).val();

        $.ajax({
            url: "{% url 'nickname:search_nicknames' %}", 
            data: {
                'keyword': search,
            },
            dataType: 'json',
            success: function(data){
                $("#nickname_results").show();
                $("#nickname_results").html(data);
            }
        });
        return false;
    });
    
    $("#nickname_results").on('click', 'div.child', function(){
        var nickname_id = this.id.split(':')[0];
        var nickname_name = this.id.split(':')[1];

        $("#id_nickname").val(nickname_name);
        $('<input>').attr({
            type: 'text',
            id: 'id_nickname_name',
            value: nickname_name
        }).appendTo('#nickname_name');

        $('<input>').attr({
            type: 'checkbox',
            id: 'id_nickname_id',
            name: 'nickname_id',
            value: nickname_id,
            checked: 'checked'
        }).appendTo('#nickname_id');

        $("#nickname_results").hide();
    });

    // 버턴을 누르면 호칭이 등록되고, 호칭 목록이 갱신이 됨
    $("button#btnCreateNick").click(function(){
        var form = $("#formCreateNick");
        $.ajax({
            url : "{% url 'nickname:add_nickname' person.id %}", 
            type: "POST",
            data: $(form).serialize(),
            beforeSend: function(){
                $("#nickname_results").hide();
            },
            success: function(data){
                $('div.nicklist .nickname_list').html(data);
            }
        });
        return false;
    });


    // 호칭 전체 보여 주기
    $("button#NickMore").click(function(){
        $("div.person .person-information").click();
        $("div.family .family-relationship").click();

        $.ajax({
            url : "{% url 'nickname:get_all_nickname' person.id %}", 
            success: function(data){
                $('div.nicklist .nickname_list').html(data);
            }
        });
        return false;
    });

//********************************************
// 뉴스에 관련된 사람 추가 하기 
//********************************************
    // Modal Window 뜨위기
    $(".add-person").click(function(){
        var action = $(this).attr('data-url');
        $("#modal-addperson").modal("show");
        $("#id_form_addperson").attr("action", action);
    });

    // PERSON
    $("#id_person").keyup(function(){
        var search = $(this).val();

        $.ajax({
            url: "{% url 'records:search_persons' %}", 
            data: {
                'keyword': search,
            },
            dataType: 'json',
            success: function(data){
                $("#person_results").show();
                $("#person_results").html(data);
            }
        });
        return false;
    });
    
    $("#person_results").on('click', 'div.child', function(){
        var person_id = this.id.split(':')[0];
        var person_name = this.id.split(':')[1];

        $("#id_person").val("").focus();
        $('<input>').attr({
            type: 'text',
            id: 'id_person_name',
            value: person_name
        }).appendTo('#persons_name');

        $('<input>').attr({
            type: 'checkbox',
            id: 'id_person_id',
            name: 'persons_id',
            value: person_id,
            checked: 'checked'
        }).appendTo('#persons_id');

        $("#person_results").hide();
    });

</script>
{% endblock javascript %}
