{% extends "base.html" %}
{% load static %}

{% block header-index %}
    <h2>기억을 통해 실수를 반복하지 맙시다.</h2>
{% if user.is_authenticated %}
    <a href="{% url 'records:check_person' %}"> 
            <button type='button' class='btn btn-primary pull-right'>사람/시건/뉴스 등록</button>
    </a>
{% endif %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}"> <i class="fa fa-home"></i> Home </a> 
        </li>
        <li>
            좋은 분 
        </li>
        <li class="active">
            <strong>사람 </strong>
        </li>    
    </ol>
{% endblock header-index %}


{% block content %}
    
    <div class="infinite-container">

    {% for person in person_list %}
        <div class="col-md-6 infinite-item">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <a href="{% url 'records:person_detail' person.id %}">
                        <strong>{{ person.name }}</strong>
                    </a>
                    <!--
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Following</a></li>
                        </ul>
                    </div>
                    -->
                </div>

                <div class="ibox-content">
                    <div class="col-sm-6">
                        <div class="text-center">
                            <a href="{% url 'records:person_detail' person.id %}">
                            <img alt="image" class="img-circle m-t-xs img-responsive" width='200px' src="{% if person.picture %} {{ person.picture.url }} {% else %} {% static 'images/nouser.png' %}{% endif %}"></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        
                        <p><i class="fa fa-map-marker"></i> {{ person.nick_name }} </p>
                        <p> Birth Year : {{ person.birth_year }}</p>
                        <p> Jobs :
                        {{person.jobs.all|join:", "}}
                        </p>
                        <p> Tags :
                        {{person.tags.all|join:", "}}
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div> {# class="col-md-6" #}

    {% endfor %}

    </div> {# class="infinite-container" #}

    <div class="col-md-12" id="loading" style="display:none;">
        <div class="row animated fadeInRight" >
            LODING .......
        </div>
    </div>

    {% if person_list.has_next %}
        <div class="col-md-12">
            <div class="row animated fadeInRight">
                <a class="btn btn-primary btn-rounded btn-block infinite-more-link" href="?page={{ person_list.next_page_number }}"> 
                    <i class="fa fa-info-circle"></i> 
                    MORE
                </a>
            </div>
        </div>
    {% endif %}

{% endblock content %}

{% block right_side %}
    {% include 'right_side.html' with type='P' %}
{% endblock right_side %}


{% block javascript %}
    <script src="{% static 'js/scroll/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/scroll/infinite.min.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $(".infinite-container")[0],
        onBeforePageLoad: function() {
            $('#loading').show();
        },
        onAfterPageLoad: function($items) {
            $('#loading').hide();
        },
    });
    </script>
{% endblock javascript %}