{% load static %}

<div class="row">
{% for person in person_list %}
    <div class="col-md-6">
        <div class="contact-box">
            <div class="col-sm-12">
                <div class="text-center">
                    <a href="{% url 'records:person_detail' person.id %}">
                    <img alt="image" class="img-circle m-t-xs img-responsive" src="{% if person.picture %} {{ person.picture.url }} {% else %} {% static 'images/nouser.png' %}{% endif %}"> </a> 
                    
                </div>
                <a href="{% url 'records:person_detail' person.id %}">
                    <h3><strong>{{ person.name }}</strong></h3>
                </a>
                <p><i class="fa fa-map-marker"></i> {{ person.nick_name }} </p>
                <p> Birth Year : {{ person.birth }}</p>
                <p> Jobs :
                {% for job in person.jobs.all %}
                    {{job}},
                {% endfor %}
                </p>
                <p> Tags :
                {% for tag in person.tags.all %}
                    {{tag}},
                {% endfor %}
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endfor %}

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
        {# Check Person #}
            <div class='col-lg-6'>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>새로운 사람 추가</h4>
                    </div>

                    <div class="ibox-content">
                        <p>등록된 사람이 없으면 새로 추가를 하시기 바랍니다.</p>
                        <a href="" id="add_person"> 
                          <p class="text-center">
                              <i class="fa fa-male big-icon"></i>
                          </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>