{% load static %}
<div class="ibox float-e-margins">
    {# News   #}
    <div class="ibox-title">
            <h5> 뉴스 내용 </h5>
        <div class="ibox-tools">
            <i class="fa fa-chevron-up"></i>
        </div>
    </div>

    <div class="ibox-content">
        <div>
            <div class="feed-activity-list">
                <div class="feed-element">
                    <div class="media-body">
                        <small class="pull-right"> {{ news.created_at }} </small>
                        <strong> {{ news.media }} </strong> posted <strong>{{news.title}}</strong>  <br>
                        <div class="well">
                            {{ news.content | linebreaks }} <br>
                            <small> published at : {{ news.published_at }} </small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{# Event List and Person List #}
{% for evidence in evidence_list %}
    
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            {# News   #}
            <div class="ibox-title row">
                    <h5> 기존 등록 뉴스 </h5>
                <div class="ibox-tools">
                    <i class="fa fa-chevron-up"></i>
                </div>
            </div>
        
            {# Event Infomation #}
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>상세정보</h5>
                    </div>
                    <div>
                        <div class="ibox-content profile-content">
                            <h3><strong>{{ evidence.personevent.event.name }}</strong></h3>
                            <p><i class="fa fa-map-marker"> 분류 : {{ evidence.personevent.event.category }} </i></p>
                            <p> 설명 : <br>
                                {{ evidence.personevent.event.content }}
                            </p>
                            <p> Happened At : {{ evidence.personevent.event.happened_at }}</p>
                            <p> Created At : {{ evidence.personevent.event.created_at }}</p>
                        </div>
                    </div>
                </div>
            </div>

            {# Person Evidence #}
            <div class="col-md-8">
                <div class="ibox float-e-margins">

                    {# Person of Event #}
                    <div class="ibox-content">
                        <div class="feed-activity-list">
                            {# list #}
                            <div class="col-md-12">
                                <div class="contact-box">
                                    <div class="col-sm-6">
                                        <div class="text-center">
                                            <a href="{% url 'records:person_detail' evidence.personevent.person.id %}">
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="{{ evidence.personevent.person.picture.url }}"> </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="{% url 'records:person_detail' evidence.personevent.person.id %}">
                                            <h3><strong>{{ evidence.personevent.person.name }}</strong></h3>
                                        </a>
                                        <p><i class="fa fa-map-marker"></i> {{ evidence.personevent.person.nick_name }} </p>
                                        <p> Birth Year : {{ evidence.personevent.person.birth }}</p>
                                        <p> Jobs :
                                        {% for job in evidence.personevent.person.jobs.all %}
                                            {{job}},
                                        {% endfor %}
                                        </p>
                                        <p> Tags :
                                        {% for tag in evidence.personevent.person.tags.all %}
                                            {{tag}},
                                        {% endfor %}
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {# End of Person #}
        </div>
    </div>

{% endfor %}