<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{ event.name }}</h5> 
        <div class="ibox-tools">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a class='following' href=""></a></li>
            </ul>
        </div>
    </div>
    <div class="ibox-content">
        <div class="ibox-content no-padding profile-content">
            <p><i class="fa fa-map-marker"> 분류 : {{ event.category }} </i></p>
            {% if checkbox %}
                <input type="checkbox" value="{{event.id}}" checked name="event" class="checkbox checkbox-primary pull-right">
            {% endif %}
            <p> 설명 : 
                {{ event.content|linebreaks }}
            </p>
            {% if event.happened_at %}
                <p> <small> 발생일 : {{ event.happened_at }} </small></p>
            {% endif %}
            <p> <small> 사건기록일 : {{ event.created_at }} </small></p>
        </div>
    
    {% with total_likes=event.user_like.count total_following=event.following.count users_like=event.user_like.all user_following=event.following.all %}
        <div class="actions"> 
            <button class="btn btn-outline btn-primary btn-xs btnEventLike">
                 {% if request.user not in users_like %}<i class="fa fa-heart-o"></i>{% else %}<i class="fa fa-heart"></i>{% endif %}
                <span class="count">(<span class="likes">{{total_likes}}</span>)</span>
            </button>
            <button class="btn btn-primary btn-xs btnEventFollowing">
                {% if request.user not in user_following %}Follow{% else %}<i class="fa fa-thumbs-up"></i>following{% endif %}
                <span class="count">(<span class="follow"> {{total_following}} </span>)</span>
            </button>
            <button class="btn btn-outline btn-primary btn-xs"><i class="fa fa-share"></i> Share</button>
            
        </div>
    {% endwith %}

    </div>
</div>

