{% load static %}

{# EVIDENCE 뉴스 매체 매칭 #}
<div class="social-feed-box" evidence-id="{{evidence.id}}">
    
    {# 등록자 사진 #}
    <div class="social-avatar">
        <a href="#" class="pull-left">
           <img alt="image" class="img-circle" src="{% if evidence.created_user.profile.picture.url %} {{ evidence.created_user.profile.picture.url }} {% else %} {% static 'image/nouser.png' %}{% endif %}">
        </a>
        {# 뉴스매체와 뉴스제목 #}
        <div>
            <a href="{{ evidence.news.url}}" target="remember">
                <strong>{{evidence.news.media}}</strong> :: 
                <strong>{{evidence.news.title}}</strong>
            </a> <br>
            <small class="text-muted"> 등록일 : {{ evidence.news.created_at|date:"Y/m/d" }}</small>
        </div>
    </div>

    {# 뉴스 내용과 URL #}
    <div class="social-body" >
        <div class="well" style="padding:0px 10px 0px 10px;margin-bottom: 10px;">
           {{evidence.news.content|linebreaks|truncatewords:"60"}} <br>
            <small style="color:#337ab7;"> 발행일 : {{evidence.news.published_at|date:"Y/m/d" }} </small> 
        </div>

        <div class="well" style="padding:0px 10px 0px 10px;margin-bottom: 10px;">
           {% for evi in evidence.news.get_evidences %}
              <a href="{% url 'records:person_detail' evi.personevent.person.id %}"> 
                 {{evi.personevent.person.name}}, 
              </a>
           {% endfor %}
        </div>

    {% if detail %}
        <div> 
            <button class='btn btn-primary btn-xs comment'>
                <i class="fa fa-pencil"></i> Comment
                (<span class="comment-count">{{ evidence.comments.count }}</span>)
            </button>
        {% if user.is_authenticated %}
            <button class='btn btn-primary btn-xs pull-right add-person' data-url="{% url 'records:evidence_add_person' evidence.news.id evidence.personevent.event.id %}"> 
                <i class="fa fa-user"></i> 해당 뉴스 관련자 추가
            </button>
        {% endif %}
        </div>
    {% endif %}

    </div>

{% if detail %}
    {# AJAX COMMENT_LIST #}
    <div class="social-footer comment_list">
    </div>

    {# 추가 증거 Button #}
    {% if forloop.last and user.is_authenticated %}
        <div class="social-footer">
            <a class="btn btn-default btn-rounded btn-block" href="{% url 'records:check_evidence' personevent.id %}"> 
                <i class="fa fa-plus"></i> 
                    추가 증거 등록
            </a>
        </div>
    {% endif %}
{% endif %}

</div>