{% load static %}

{# EVIDENCE 뉴스 매체 매칭 #}
<div class="social-feed-box" evidence-id="{{evidence.id}}">
    
    {# 등록자 사진 #}
    <div class="social-avatar">
        <a href="#" class="pull-left">
           <img alt="image" class="img-circle" src="{% if evidence.created_user.profile.picture.url %} {{ evidence.created_user.profile.picture.url }} {% else %} {% static 'image/nouser.png' %}{% endif %}">
        </a>
        {# 뉴스매체와 뉴스제목 #}
        <div>
            <a href="{{ evidence.news.url}}" target="remember">
                <strong>{{evidence.news.media}}</strong> posted 
                <strong>{{evidence.news.title}}</strong>
            </a> <br>
            <small class="text-muted"> 등록일 : {{ evidence.news.created_at|date:"Y/m/d" }}</small>
        </div>
    </div>

    {# 뉴스 내용과 URL #}
    <div class="social-body" >
        <div class="well" style="padding:0px 10px">
           {{evidence.news.content|linebreaks|truncatewords:"60"}} <br>
            <small style="color:#337ab7;"> 발행일 : {{evidence.news.published_at|date:"Y/m/d" }} </small> 
        </div>
        <div> 
            <button class='btn btn-primary btn-xs comment'>
                <i class="fa fa-pencil"></i> Comment
                (<span class="comment-count">{{ evidence.comments.count }}</span>)
            </button>

            <button class='btn btn-primary btn-xs pull-right add-person' data-url="{% url 'records:evidence_add_person' evidence.news.id event %}"> 
                <i class="fa fa-user"></i> 관련자 추가
            </button>
        </div>
    </div>
    
    {# AJAX COMMENT_LIST #}
    <div class="social-footer comment_list">
    </div>

</div>