{% load static %}
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5> {{ relationship }} </h5>
        {% if checkbox %}
            <div class="ibox-tools">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a class='following' href="">선택</a></li> 
                </ul> 
            </div>
        {% endif %}
    </div>

    {# 조상 반복 #}
    <div class="ibox-content">
        {% for person in persons %}
            {% include 'records/partial/relationship_of_person.html' with obj=person  %}
        {% endfor %}
    </div>
</div>