{% load static %}

{% if forloop.first %}
    <h3><strong> {{ relationship }}</strong></h3>
{% endif %}
<div class="media-body ">
    <div class="no-padding">
        <a href="{% url 'records:person_detail' parent.id %}">
            <img alt="image" class="img-responsive" width="50%" src="{% if parent.picture %}{{ parent.picture.url }}{% else %}{% static 'images/nouser.png' %}{% endif %}">
        </a>
    </div>    

    <a href="{% url 'records:person_detail' parent.id %}">
        <h3><strong>{{ parent.name }} </strong></h3>
    </a>

    {% if checkbox %}
        <input type="checkbox" checked value="{{parent.id}}" name="parent" class="checkbox checkbox-primary pull-right">
    {% endif %}
    <p><i class="fa fa-calendar"></i> Birth Year : {{ parent.birth_year }}</p>
    <p><i class="fa fa-flag"></i> Jobs :
        {{parent.jobs.all|join:", "}}
    </p>
    <p><i class="fa fa-pencil"></i> Tags :
        {{parent.tags.all|join:", "}}
    </p>
</div>