{% load static %}
<div class="col-sm-3">
    <div class="no-padding">
        <a href="{% url 'records:person_detail' obj.id %}">
            <img alt="image" width="100px" class="img-responsive" src="{% if obj.picture %}{{ obj.picture.url }}
        {% else %}{% static 'images/nouser.png' %}{% endif %}">
        </a>
    </div>    
    <div class="ibox-content no-padding profile-content">

        {# 해당 Person 본인 정보 #}
        <div class="media-body ">
            <a href="{% url 'records:person_detail' obj.id %}">
                <h3><strong>{{ obj.name }}</strong> <small>관계 {{ relation }} </small></h3>
            </a>
            <p><i class="fa fa-flag"></i> {{obj.nick_name}}</p>
            {% if checkbox %}
                <input type="checkbox" checked value="{{obj.id}}" name="person" class="checkbox checkbox-primary pull-right">
            {% endif %}
            <p><i class="fa fa-calendar"></i> {{ obj.birth_year }} 년 </p>
            <p><i class="fa fa-flag"></i> Jobs :
                {{obj.jobs.all|join:", "}}
            </p>
            {% if  obj.url %}
            <a href="{{ obj.url }}" target="remember">
                <p><i class="fa fa-id-badge"></i> <b> 상세 내용 : 위키 또는 나무 </b></p>
            </a>
            {% endif %}
            <p><i class="fa fa-pencil"></i> Tags :
                {{obj.tags.all|join:", "}}
            </p>
        </div>
    </div>

    {# 자식들 #}
    {% if person.get_children and family %}
        <div class="ibox-content no-padding profile-content">
        {% for parent in person.get_children %}
            {% include 'records/partial/relationship.html' with relationship='손자' %}

            {% for parent in parent.get_children %}
                {% if forloop.first %}
                    {% include 'records/partial/relationship.html' with relationship='증손자' %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
    {% endif %}

</div>
