{% load static %}
<div class="col-sm-3">
    <div class="no-padding">
        <a href="{% url 'records:person_detail' obj.pk %}">
            <img alt="image" width="100px" class="img-responsive" src="{% if obj.picture %}{{ obj.picture.url }}
        {% else %}{% static 'images/nouser.png' %}{% endif %}">
        </a>
    </div>    
    <div class="ibox-content no-padding profile-content">

        {# 해당 Person 본인 정보 #}
        <div class="media-body ">
            <h3>
                <a href="{% url 'records:person_detail' obj.id %}">
                    <strong>{{ obj.name }}</strong> 
                </a>
                <a href="{% url 'records:person_relationship' obj.id %}">
                    <small>관계 {{ relation }} </small>
                </a>
            </h3>
            
            <p><i class="fa fa-flag"></i> {{obj.nick_name}}</p>
            {% if checkbox %}
                <input type="checkbox" checked value="{{obj.id}}" name="person" class="checkbox checkbox-primary pull-right">
            {% endif %}
            <p><i class="fa fa-calendar"></i> {{ obj.birth_year }} 년 </p>
            <p><i class="fa fa-flag"></i> Jobs :
                {{obj.jobs.all|join:", "}}
            </p>
            
        </div>
    </div>

    {# 손자들 #}
    {% if obj.get_children and family %}
        <div class="ibox-content no-padding profile-content">
        {% for children in obj.get_children %}
            {% include 'records/partial/relationship.html' with person=children relationship='손자' relation='손자' display=True %}
        {% endfor %}
        </div>
    {% endif %}

    {# 증손자들 #}
    {% if obj.get_children and family %}
        {% for children in obj.get_children %}
            {% for children in children.get_children %}
                {% include 'records/partial/relationship.html' with person=children relationship='증손자' relation='증손자' %}
            {% endfor %}
        {% endfor %}
    {% endif %}    

</div>
