{% load static humanize %}
{% for comment in comment_list %}

    {% if comment.parent %}  {# Comment 의 부모가 있는 경우 한 단계 접어서 보여줌. #}
        <div class="social-comment">
            <div class="social-comment">
                <a href="" class="pull-left">
                    <img alt="image" class="img-circle" src="{% if comment.created_user.profile.picture %}{{ comment.created_user.profile.picture.url }}{% else %}{% static 'images/nouser.png' %}{% endif %}">
                </a>
                <div class="media-body">
                    <a href="#">
                        {{ comment.created_user.first_name }}
                    </a>
                    {{ comment.content}} <br>
                    {{comment.created_at|naturaltime}}
                </div>
                <div class="social-comment" style="display:none;">
                    <form action="" method="POST">
                        <input type="hidden" name="evidence" value="{{evidence.id}}"> 
                        <input type="hidden" name="parent" value="{{comment.id}}"> 
                        <div class="media-body" id="commentSubAdd" >
                            <textarea name="content" class="form-control" placeholder="Write comment..."></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %} {# Comment 의 부모가 없는 경우 상위에 보여 줌  #}
        <div class="social-comment">
            <a href="" class="pull-left">
                <img alt="image" class="img-circle" src="{% if comment.created_user.profile.picture %}{{ comment.created_user.profile.picture.url }}{% else %}{% static 'images/nouser.png' %}{% endif %}">
            </a>
            <div class="media-body">
                <a href="#">
                    {{ comment.created_user.first_name }}
                </a> 
                {{ comment.content}} <br>
                {{comment.created_at|naturaltime }}
            </div>
        </div>
    {% endif %}

{% endfor %}

        <div class="social-comment" id="commentAdd">
        </div>
        
    <form action="{% url 'comments:comment' %}" method="POST" class="commentAdd">
        <div class="social-comment">
            {% csrf_token %}
            <a href="" class="pull-left">
                <img alt="image" class="img-circle" src="{% if user.profile.picture %}{{ user.profile.picture.url }}{% else %}{% static 'images/nouser.png' %}{% endif %}">
            </a>
            <div class="media-body">
                <div>
                    <textarea name="content" class="form-control" placeholder="Write comment..."></textarea>
                </div>
                <input type="hidden" name="parent" value="">
                <input type="hidden" name="evidence" value="{{ evidence_id }}">
            </div>
        </div>
    </form>

