{% extends 'login_base.html' %}

{% load staticfiles i18n %}

{% block content %}
<style>
.wrapper{
    width: 500px;
    height: 400px;
    position: fixed;
    margin-left: -250px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
}
</style>
<div class="wrapper">
    <div class="row">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Sign Up</h4>
                </div>
                <div class="ibox-content">
                    <h1 class="logo">I Remember Your Past</h1>
                    <div class="signup">
                        <form action="{% url 'signup' %}" method="post" role="form" id='signup'>
                            {% csrf_token %} 
                            {% for field in form.visible_fields %}
                              <div class="form-group{% if field.errors %} has-error{% endif %}">
                                  <label for="{{ field.label }}">{{ field.label }}</label>
                                  {{ field }} 
                                  {% if field.help_text %}
                                    <span class="help-block">{{ field.help_text|safe }}</span> 
                                  {% endif %} 
                                  {% for error in field.errors %}
                                    <label class="control-label">{{ error }}</label>
                                  {% endfor %}
                              </div>
                            {% endfor %}
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary btn-lg">
                                {% trans 'Create an account' %}
                            </button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block javascript %}
  <script>
    $(function(){
      $('.btn-primary').click(function(){
        var username = $('#id_email').val();
        console.log(username);
        $('#id_username').val(username);
      });
    });
  </script>
{% endblock javascript %}
